
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    body {
      background-color: #E8DFCA;
}

h1 {
  font-size: 36px;
  color: #1A4D2E;
}
a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a{
    color: white;
}
button{
  width: 100%;
  background-color: #4CAF50;
  color:#E8DFCA;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}
button:hover{
  background-color: #1A4D2E;
}

</style>
<body>
  <div style="width: 600px; margin: 0 auto;">
      <h1>welcome to your food manager</h1>
          

        <a href="show/"><button>your current ingredients</button></a>
        <br>
        <a href="week/"><button>your weekly food program</button></a>
        <br>
        <a href="suggested/"><button>suggested meal</button></a>
        <br>
        <a href="add/"><button>add recipe</button></a>
    
        
    </div>
</body>
</html>












